body {
    width: 1000px;
    font-family: Calibri;
    text-align: left;
}

table {
    font-size:13px;
    text-align: left;
    background:#FFFFFF;
    border-width: 1px;
    border-color: #d3d7db;
    border-collapse: separate;
    border-spacing: 0;
    font-weight: normal;
}

table th.topSide {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: linear-gradient(#fafafe, #d1d1dd);
}

table .columnNames th {
    background-image: linear-gradient(#fafafe, #d1d1dd);
}

table th {
    background:#e8e9eb;
    text-align: left;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #d3d7db;
    font-weight: normal;
}
table td {
    border-width: 1px;
    text-align: left;
    height: 20px;
    padding: 5px;
    border-style: solid;
    border-color: #d3d7db;
    font-weight: normal;
}

.headers th {
    background-color: #d0d0df;
}

.productID {
    width: 3%;
}

.productName {
    width: 30%;
}

.unitPrice {
    width: 15%;
}

.quantityPerUnit {
    width: 20%;
}

.unitsInStock {
    width: 15%;
}

.discontinued {
    width: 10%;
}

.myButton{
    background:url(../images/filter.png) no-repeat;
    cursor:pointer;
    border:none;
    padding: 6px;
    width:22px;
    height: 22px;
}

.pages th {
    background-image: linear-gradient(#fafafe, #d1d1dd);
}

.firstPage{
    background:url(../images/firstpage.png) no-repeat;
    cursor:pointer;
    border:none;
    padding: 6px;
    width:22px;
    height: 22px;
}
.prevPage{
    background:url(../images/prevpage.png) no-repeat;
    cursor:pointer;
    border:none;
    width:22px;
    padding: 6px;
    height: 22px;
}
.nextPage{
    background:url(../images/nextpage.png) no-repeat;
    cursor:pointer;
    border:none;
    padding: 6px;
    width:22px;
    height: 22px;
}
.lastPage{
    background:url(../images/lastpage.png) no-repeat;
    cursor:pointer;
    border:none;
    width:22px;
    padding: 6px;
    height: 22px;
}
.numberPage{
    cursor:pointer;
    height: 22px;
}

span.bottomInfo {
    float: right;
}

table th.bottomItems {
    background-color: #dfe2e6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottomItems a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-weight: normal;
}

.active {
    border: 1px solid red;
}